@CHARSET "ISO-8859-1";
body{
	background-color: aliceblue;
}

.divStyle{
	background-color: aliceblue;
	margin-left: 20%;
	margin-right: 20%;
	border-style: solid;
	color: white;
	font-size:150%
}
