body{
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

#header{
    color: red;
    font-size: 22px;
    font-weight: 300;
    text-decoration: underline;
}


.header__div, .footer__div{
    background-color: cadetblue;
    display: inline-flex;
    width: 100vw;
}

#register{
    background: #E2D80D;
    color: white;
    border: 1px solid #E2D80D;

}

#register:hover{
    color: #E2D80D;
    background: none;
    border: 1px solid #E2D80D;
}

#register:active{
    color: red;
    background: none;    
    border: 1px solid #E2D80D;

}

.header__div--header-opts:after
{
    border: inset 11px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent #000 transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -22px;
    left: 95%;
    /* z-index: 89; */
    /* left: 700px; */
}
.section__div{
    width:475px;
    padding: 30px 50px;
    background: cadetblue;
}
.section__div div{
    margin-bottom: 10px;
}
.header__div--header-ul{
    display: inline-flex;
    float: right;
}
.header__div--header-li{
    color: white;
    list-style: none;
    margin: 2px 20px;
}
.header__div--header-opts{
    width: 100%;
}
.footer__details{
    display: inline-flex;
}
.footer__details--aboutUs, .footer__details--team, .footer__details--location{
    padding: 5px 20px;
    color: white;
}

.footer__div{
    position: absolute;
    top:94vh;
}
.footer__details{
    width: 100vw;
}

.header__div--header-li:hover{
    background: white;
    color: #E2D80D;
}

.footer__details--aboutUs:hover, .footer__details--team:hover, .footer__details--location:hover{
    color: #E2D80D;
    background: white;
}


input[type="text"]{
    border: red;
    height: 40px;
}

.section__div{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -240px;
    margin-top: -100px;
}